<header class="site-header">
    <nav class="main-nav" aria-label="Главное меню">
        <a class="nav-brand" href="index.html">GT3 HUB</a>
        <ul class="nav-menu" id="nav-menu">
            <li><a href="cars.html">Автомобили</a></li>
            <li><a href="regulations.html">Регламенты</a></li>
            <li><a href="tracks.html">Трассы</a></li>
            <li><a href="champions.html">Чемпионы</a></li>
            <li><a href="pilots.html">Пилоты</a></li>
            <li><a href="teams.html">Команды</a></li>
        </ul>
        <div class="nav-auth" id="nav-auth"></div>
    </nav>
</header>
